{% extends "tracker/base.html" %} {% block body %}

<div class="card m-2 bg-secondary" style="">
  <div class="card-body">
    <h3 class="card-title text-capitalize">{{ article.title }}</h3>

    <p class="card-text">{{article.subtitle}}</p>
    <p>{{article.text1}}</p>
    <p>{{article.text2}}</p>
        <div class="" id="macroChart"></div>

    <b class="card-subtitle">{{article.subtitle2}}</b>
    <p>{{article.text3}}</p>
    <p>{{article.text4}}</p>
    <div id="tester" class="text-center" style=""></div>
  </div>
</div>
<div class="row">
  {% for p in Products %}
  <div class="card m-2" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">{{ p.name }}</h5>
        <img class="card-img-top" src="{{p.image.url}}" alt="" />
      <p class="card-text">{{p.discription| truncatewords:20}}</p>
      <a class="btn btn-primary" href="{{p.link}}">Amazon ${{p.price}}</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
