h5 {
    color: black;
}
body {
    background-color: aqua;
}
#macroChart{

}
#foodImage{
    height: 200px;



    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0

}
#foodCard{
    width: 18rem;

}

#foodDetailCard {
    /* width: 25rem; */

}
#artCard {
    width: 36rem;

}
#food-detail {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 40%;
    

}
article {
    display: block;
    background-color: blanchedalmond;
    border: 4px solid black;
    margin: 20px;
    padding: 5px;
  }